body {
  padding-top: 150px;
}

.app {
  text-align: center;
}

.app-mylogo {
  height: 50px;
  width: 50px;
}

.app-link {
  color: #09d3ac;
}

.logo-font {
  width: 1em;
  height: 1em;
}

.intro-section {
  height: 1000px;
}
