@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

.app {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  background-color: #f3d1c4;
}

.app-mylogo {
  height: 50px;
  width: 50px;
}

.app-link {
  color: #09d3ac;
}

.logo-font {
  width: 1em;
  height: 1em;
}

.sections {
  position: absolute;
  margin-top: 75px;
}

.sections > section {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

p {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  width: 75%;
}

.intro-section {
  background-image: url("./JCLogo3.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.welcome-text {
  font-family: "Montserrat", sans-serif;
}

.about-section {
  background-color: #e9e7e0;
}

#about-text {
  display: flex;
  justify-content: center;
}

#about-text > p {
  font-family: "Quicksand", sans-serif;
  width: 75%;
}

.projects-section {
  background-color: white;
}

#projects-text {
  display: flex;
  justify-content: center;
}

#projects-text > p {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  width: 75%;
}

.first-project {
  background-color: #e9e7e0;
}

#interictal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#interictal > p {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  width: 75%;
}

.eeg-title {
  font-family: "Montserrat", sans-serif;
}

#interictal > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-position: inside;
}

#interictal > ul > li {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  width: 75%;
}

.eeg-images {
  display: flex;
}

.eeg-images > img {
  width: 50px;
  height: 50px;
  margin-left: 20px;
  margin-right: 20px;
}
